<!--
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
---

<div class="internal-links text-center space-x-3 space-y-5 text-[color:var(--black)]">
	<HeaderLink href="/">Home</HeaderLink>
	<HeaderLink href="/blog">Blog</HeaderLink>
</div> -->